body {
	background-color: #ecf0f1;
}

body {
	color: rgb(52, 73, 94);
}

.btn {
	cursor: pointer;
}

.clicked {
	color: rgb(52, 73, 94);
}

#title {
	
}

.form, 
.greeting {
	display: none;
}

.showing {
	display: block;
}
